
@{
    ViewBag.Title = "| About";
}

<img id="articlepic-about" src="@Url.Content("~/Content/images/IGEN_red_text.png")" alt="bigpic" />
<h1 id="articleheader-about">What is IGEN?</h1>
<p id="articletext-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis, libero a imperdiet aliquet, ante lectus dignissim diam, scelerisque ornare libero est eu nulla. Praesent mauris nunc, mollis in lorem a, ultricies faucibus mi. Praesent dolor ante, tristique eu ligula at, tempor bibendum turpis. Morbi a odio feugiat dui vestibulum blandit. Aenean arcu dui, iaculis ac bibendum ac, mollis id turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut scelerisque interdum posuere. Sed libero nulla, consectetur nec faucibus in, molestie in turpis. Proin cursus dui sed mi porta, id aliquam diam pharetra. Phasellus at ipsum vitae nisl scelerisque consequat et a felis.<br /><br />Curabitur eleifend, nunc nec fringilla semper, nulla sapien dictum sem, ut vulputate dui turpis eu est. Donec non ante sed sapien vehicula elementum. Mauris tincidunt nisi odio, a pharetra quam tincidunt et. Vestibulum diam nunc, vehicula sed suscipit ut, suscipit at nibh. In quis imperdiet quam. Nullam felis nisi, venenatis in purus euismod, vestibulum dictum elit. Donec ante nibh, sodales sed mauris vel, aliquam sodales justo. Aliquam tempor neque non tellus pellentesque blandit. Suspendisse vel felis dignissim nulla dictum iaculis ut et sem. Sed in consequat elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.<br /><br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas vel condimentum nisi. Aliquam nec nunc iaculis, fermentum magna nec, vulputate nunc. Proin sit amet nisl placerat, gravida orci in, suscipit urna. Etiam ut dui dui. Curabitur nec sem nec ipsum commodo faucibus vitae quis nisi. Vivamus feugiat orci in nunc mattis, eu blandit nisi aliquet. Mauris et metus eu augue semper ornare in nec odio. Nulla facilisi. Maecenas eget semper ante. Proin convallis dolor nec risus condimentum maximus. Mauris pellentesque eu sem sit amet blandit. Vestibulum in.</p>
<hr id="articlehr">
<div id="socialmedia">
    <p>Visit us on social media</p>
    <a id="spa1" href="https://facebook.com"><img src="@Url.Content("~/Content/images/facebook.png")" alt="facebook" /></a>
    <a id="spa2" href="https://twitter.com"><img src="@Url.Content("~/Content/images/twitter.png")" alt="twitter" /></a>
    <a id="spa3" href="https://instagram.com"><img src="@Url.Content("~/Content/images/instagram.png")" alt="instagram" /></a>
    <a id="spa4" href="https://youtube.com"><img src="@Url.Content("~/Content/images/youtube.png")" alt="youtube" /></a>
</div>
<div id="footer">
    <img id="footerlogo" src="@Url.Content("~/Content/images/IGEN_red_text.png")" alt="logo" />
    <p id="fp1"><a href="@Url.Action("Index", "HomeEdits")">Home</a> <span class="whitedot">•</span> <a href="tos.html">Terms of Use</a> <span class="whitedot">•</span> <a href="@Url.Action("Contact", "HomeEdits")">Contact Us</a></p>
    <p id="fp2"><a href="@Url.Action("About", "HomeEdits")">About Us</a> <span class="whitedot">•</span> <a href="copyright.html">Copyright</a> <span class="whitedot">•</span> <a href="tip.html">Tip Us</a></p>
    <p id="fp3">© 2018 - Ingenious Gamer & Electronics News</p>
</div>