
@{
    ViewBag.Title = "| Payment method";
}

<h1 id="logintop">Payment method</h1>
<hr id="logintophr">
<form id="loginform" action="@Url.Action("ThankYou", "HomeEdits")">
    <label>Card number: </label>
    <label id="label-subscription" for="password-subscription">Phone number: </label>
    <input id="password-subscription" type="number" placeholder=" +46 000 00 00 00" required />
    <input id="password" type="number" placeholder=" XXXX XXXX XXXX XXXX" required />
    <input id="submit-subscription" type="submit" value="Pay now     " />
    <label id="expirydatelabel">Expiry date: </label>
    <input id="expirydate" type="number" placeholder=" MM-YY" required />
    <label id="cvcnumberlabel">CVC number: </label>
    <input id="cvcnumber" type="number" placeholder=" XXX" required />
</form>
<i id="loginicon-buy" class="fa fa-shopping-cart" aria-hidden="true"></i>
<hr id="articlehr-login">
<div id="socialmedia-login">
    <p>Visit us on social media</p>
    <a id="spa1-login" href="https://facebook.com"><img src="@Url.Content("~/Content/images/facebook.png")" alt="facebook" /></a>
    <a id="spa2-login" href="https://twitter.com"><img src="@Url.Content("~/Content/images/twitter.png")" alt="twitter" /></a>
    <a id="spa3-login" href="https://instagram.com"><img src="@Url.Content("~/Content/images/instagram.png")" alt="instagram" /></a>
    <a id="spa4-login" href="https://youtube.com"><img src="@Url.Content("~/Content/images/youtube.png")" alt="youtube" /></a>
</div>
<div id="footer-login">
    <img id="footerlogo" src="@Url.Content("~/Content/images/IGEN_red_text.png")" alt="logo" />
    <p id="fp1"><a href="@Url.Action("Index", "HomeEdits")">Home</a> <span class="whitedot">•</span> <a href="tos.html">Terms of Use</a> <span class="whitedot">•</span> <a href="contact.html">Contact Us</a></p>
    <p id="fp2"><a href="about.html">About Us</a> <span class="whitedot">•</span> <a href="copyright.html">Copyright</a> <span class="whitedot">•</span> <a href="tip.html">Tip Us</a></p>
    <p id="fp3">© 2018 - Ingenious Gamer & Electronics News</p>
</div>