@using IGEN.Models
@model LoginViewModel

<h1 id="logintop">Log in to IGEN</h1>
<hr id="logintophr">
<form id="loginform">
    <label for="email">Email: </label>
    <input id="email" type="email" required />
    <label for="password">Password: </label>
    <input id="password" type="text" required />
</form>
<i id="loginicon" class="fa fa-sign-in" aria-hidden="true"></i>
<p id="registertext">No account?<br /><a href="@Url.Action("Register", "Account")">Register here.</a></p>
<p id="forgotpasswordtext">Forgot your password?<br /><a href="@Url.Action("ResetPassword", "Account")">Recover password here.</a></p>
<hr id="articlehr-login">
<div id="socialmedia-login">
    <p>Visit us on social media</p>
    <a id="spa1-login" href="https://facebook.com"><img src="@Url.Content("~/Content/images/facebook.png")" alt="facebook" /></a>
    <a id="spa2-login" href="https://twitter.com"><img src="@Url.Content("~/Content/images/twitter.png")" alt="twitter" /></a>
    <a id="spa3-login" href="https://instagram.com"><img src="@Url.Content("~/Content/images/instagram.png")" alt="instagram" /></a>
    <a id="spa4-login" href="https://youtube.com"><img src="@Url.Content("~/Content/images/youtube.png")" alt="youtube" /></a>
</div>
<div id="footer-login">
    <img id="footerlogo" src="@Url.Content("~/Content/images/IGEN_red_text.png")" alt="logo" />
    <p id="fp1"><a href="@Url.Action("Index", "Home")">Home</a> <span class="whitedot">•</span> <a href="tos.html">Terms of Use</a> <span class="whitedot">•</span> <a href="contact.html">Contact Us</a></p>
    <p id="fp2"><a href="about.html">About Us</a> <span class="whitedot">•</span> <a href="copyright.html">Copyright</a> <span class="whitedot">•</span> <a href="tip.html">Tip Us</a></p>
    <p id="fp3">© 2018 - Ingenious Gamer & Electronics News</p>
</div>

<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginform", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "")
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { id = "email" })
        @Html.ValidationMessageFor(m => m.Email, "")
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { id = "password" })
        @Html.ValidationMessageFor(m => m.Password, "")
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)

        <input id="submit" type="submit" value="Log in    " />
    }
    <i id="loginicon" class="fa fa-sign-in" aria-hidden="true"></i>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}