@model IGEN.Models.Article

<hr id="articlehr-login">
<div id="socialmedia-login">
    <p>Visit us on social media</p>
    <a id="spa1-login" href="https://facebook.com"><img src="@Url.Content("~/Content/images/facebook.png")" alt="facebook" /></a>
    <a id="spa2-login" href="https://twitter.com"><img src="@Url.Content("~/Content/images/twitter.png")" alt="twitter" /></a>
    <a id="spa3-login" href="https://instagram.com"><img src="@Url.Content("~/Content/images/instagram.png")" alt="instagram" /></a>
    <a id="spa4-login" href="https://youtube.com"><img src="@Url.Content("~/Content/images/youtube.png")" alt="youtube" /></a>
</div>
<div id="footer-login">
    <img id="footerlogo" src="@Url.Content("~/Content/images/IGEN_red_text.png")" alt="logo" />
    <p id="fp1"><a href="@Url.Action("Index", "Home")">Home</a> <span class="whitedot">•</span> <a href="tos.html">Terms of Use</a> <span class="whitedot">•</span> <a href="contact.html">Contact Us</a></p>
    <p id="fp2"><a href="about.html">About Us</a> <span class="whitedot">•</span> <a href="copyright.html">Copyright</a> <span class="whitedot">•</span> <a href="tip.html">Tip Us</a></p>
    <p id="fp3">© 2018 - Ingenious Gamer & Electronics News</p>
</div>

<h2>Edit</h2>

@using (Html.BeginForm(new { @class = "editform" }))
{
    @Html.AntiForgeryToken()
    <h4>Article</h4>
    <hr />
    @Html.ValidationSummary(true, "")
    @Html.HiddenFor(model => model.ID)
    @Html.LabelFor(model => model.Header)
    @Html.EditorFor(model => model.Header)
    @Html.ValidationMessageFor(model => model.Header, "")
    @Html.LabelFor(model => model.BigPic)
    @Html.EditorFor(model => model.BigPic)
    @Html.ValidationMessageFor(model => model.BigPic, "")
    @Html.LabelFor(model => model.Date)
    @Html.EditorFor(model => model.Date)
    @Html.ValidationMessageFor(model => model.Date, "")
    @Html.LabelFor(model => model.Author)
    @Html.EditorFor(model => model.Author)
    @Html.ValidationMessageFor(model => model.Author)
    @Html.LabelFor(model => model.Text)
    @Html.EditorFor(model => model.Text)
    @Html.ValidationMessageFor(model => model.Text, "")
    @Html.LabelFor(model => model.GameID, "GameID")
    @Html.DropDownList("GameID", null, htmlAttributes: new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.GameID, "")
    <input type="submit" value="Save" class="btn btn-default" />
}


@Html.ActionLink("Back to List", "Index")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

