@model IGEN.Models.Article

@{
    ViewBag.Title = "| Edit \"" + Model.Header + "\"";
}

<hr id="articlehr-login">
<div id="socialmedia-login">
    <p>Visit us on social media</p>
    <a id="spa1-login" href="https://facebook.com"><img src="@Url.Content("~/Content/images/facebook.png")" alt="facebook" /></a>
    <a id="spa2-login" href="https://twitter.com"><img src="@Url.Content("~/Content/images/twitter.png")" alt="twitter" /></a>
    <a id="spa3-login" href="https://instagram.com"><img src="@Url.Content("~/Content/images/instagram.png")" alt="instagram" /></a>
    <a id="spa4-login" href="https://youtube.com"><img src="@Url.Content("~/Content/images/youtube.png")" alt="youtube" /></a>
</div>
<div id="footer-login">
    <img id="footerlogo" src="@Url.Content("~/Content/images/IGEN_red_text.png")" alt="logo" />
    <p id="fp1"><a href="@Url.Action("Index", "Home")">Home</a> <span class="whitedot">•</span> <a href="tos.html">Terms of Use</a> <span class="whitedot">•</span> <a href="contact.html">Contact Us</a></p>
    <p id="fp2"><a href="about.html">About Us</a> <span class="whitedot">•</span> <a href="copyright.html">Copyright</a> <span class="whitedot">•</span> <a href="tip.html">Tip Us</a></p>
    <p id="fp3">© 2018 - Ingenious Gamer & Electronics News</p>
</div>

<h2 id="topcreate">Edit "@Model.Header"</h2>

@using (Html.BeginForm(new { @class = "editform" }))
{
    @Html.AntiForgeryToken()
    <hr id="createtophr" />
    @Html.ValidationSummary(true, "")
    @Html.HiddenFor(model => model.ID)
    @Html.LabelFor(model => model.Header, new { id = "create-header-label" })
    @Html.EditorFor(model => model.Header, new { htmlAttributes = new { id = "create-header" } })
    @Html.ValidationMessageFor(model => model.Header, "", new { id = "create-header-val" })
    <br />
    @Html.LabelFor(model => model.BigPic, new { id = "create-bigpic-label" })
    @Html.EditorFor(model => model.BigPic, new { htmlAttributes = new { placeholder = "Must be LINK to picture. Preferred 16:9 format.", id = "create-bigpic" } })
    @Html.ValidationMessageFor(model => model.BigPic, "", new { id = "create-bigpic-val" })
    <br />
    @Html.LabelFor(model => model.Date, new { id = "create-date-label" })
    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { placeholder = "YYYY/MM/DD HH:MM", id = "create-date" } })
    @Html.ValidationMessageFor(model => model.Date, "", new { id = "create-date-val" })
    <br />
    @Html.LabelFor(model => model.Author, new { id = "create-author-label" })
    @Html.EditorFor(model => model.Author, new { htmlAttributes = new { id = "create-author" } })
    @Html.ValidationMessageFor(model => model.Author, "", new { id = "create-author-val" })
    <br />
    @Html.LabelFor(model => model.Text, new { id = "create-text-label" })
    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { id = "create-text" } })
    @Html.ValidationMessageFor(model => model.Text, "", new { id = "create-text-val" })
    <br />
    @Html.LabelFor(model => model.GameID, "Game", new { id = "create-game-label" })
    @Html.DropDownList("GameID", null, htmlAttributes: new { @class = "form-control", id = "create-game" })
    @Html.ValidationMessageFor(model => model.GameID, "", new { id = "create-game-val" })
    <br />
    <input id="submit" class="submit-create" type="submit" value="Save" />
}

<div id="createnewgame">
    @Html.ActionLink("Create new", "Create", "Games")
</div>

<div id="deletearticle">
    @Html.ActionLink("Delete article", "Delete", new { id = Model.ID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}