@model IEnumerable<IGEN.Models.Article>

@{ var count = 1; }

@foreach (var item in Model)
{
    string rpa = "rpa" + count.ToString();
    string rha = "rha" + count.ToString();
    string srpa = "srpa" + count.ToString();
    string srha = "srha" + count.ToString();
    string recentpic = "recentpic" + count.ToString();
    string srecentpic = "srecentpic" + count.ToString();
    string recentheader = "recentheader" + count.ToString();
    string srecentheader = "srecentheader" + count.ToString();
    if (ViewBag.SearchText == "")
    {
        <p id="topsearchtext">Showing all articles</p>
    }
    else
    {
        <p id="topsearchtext">Search results for "@ViewBag.SearchText"</p>
    }
    <a class="@srpa" id="@rpa" href="@Url.Action("Details", "Articles", new { id = item.ID })"><img class="@srecentpic" id="@recentpic" src="@item.BigPic" alt="card" /></a>
    <a class="@srha" id="@rha" href="@Url.Action("Details", "Articles", new { id = item.ID })"><h1 class="@srecentheader" id="@recentheader"><span class="date">@Html.DisplayFor(modelItem => item.Date)</span><br />@Html.DisplayFor(modelItem => item.Header)</h1></a>

    <!--<a class="srpa2" id="rpa2" href="article.html"><img class="srecentpic2" id="recentpic2" src="@item.BigPic" alt="card" /></a>
    <a class="srha2" id="rha2" href="article.html"><h1 class="srecentheader2" id="recentheader2"><span class="date">@Html.DisplayFor(modelItem => item.Date)</span><br />@Html.DisplayFor(modelItem => item.Header)</h1></a>
    <a class="srpa3" id="rpa3" href="article.html"><img class="srecentpic3" id="recentpic3" src="@item.BigPic" alt="card" /></a>
    <a class="srha3" id="rha3" href="article.html"><h1 class="srecentheader3" id="recentheader3"><span class="date">@Html.DisplayFor(modelItem => item.Date)</span><br />@Html.DisplayFor(modelItem => item.Header)</h1></a>-->
    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
    <br />
    @Html.ActionLink("Details", "Details", new { id = item.ID })
    <br />
    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    count = count + 1;
}

<select id="sortby" name="cars">
    <option value="sortby">Sort by</option>
    <option value="new">New</option>
    <option value="popular">Popular</option>
</select>
<a href="https://fortnitetutorials.com"><img id="fortnitetutorials" src="@Url.Content("~/Content/images/Banner_AD_1.png")" alt="fortnitetutorials" /></a>
<hr id="articlehr-login">
<div id="socialmedia-login">
    <p>Visit us on social media</p>
    <a id="spa1-login" href="https://facebook.com"><img src="@Url.Content("~/Content/images/facebook.png")" alt="facebook" /></a>
    <a id="spa2-login" href="https://twitter.com"><img src="@Url.Content("~/Content/images/twitter.png")" alt="twitter" /></a>
    <a id="spa3-login" href="https://instagram.com"><img src="@Url.Content("~/Content/images/instagram.png")" alt="instagram" /></a>
    <a id="spa4-login" href="https://youtube.com"><img src="@Url.Content("~/Content/images/youtube.png")" alt="youtube" /></a>
</div>
<div id="footer-login">
    <img id="footerlogo" src="@Url.Content("~/Content/images/IGEN_red_text.png")" alt="logo" />
    <p id="fp1"><a href="@Url.Action("Index", "Home")">Home</a> <span class="whitedot">•</span> <a href="tos.html">Terms of Use</a> <span class="whitedot">•</span> <a href="contact.html">Contact Us</a></p>
    <p id="fp2"><a href="about.html">About Us</a> <span class="whitedot">•</span> <a href="copyright.html">Copyright</a> <span class="whitedot">•</span> <a href="tip.html">Tip Us</a></p>
    <p id="fp3">© 2018 - Ingenious Gamer & Electronics News</p>
</div>