<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGEN @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <div id="container">
        <a id="a1" href="@Url.Action("Index", "HomeEdits")"><img id="logo" src="@Url.Content("~/Content/images/IGEN_red.png")" alt="logo" /></a>
        <a id="a2" href="@Url.Action("Index", "HomeEdits")"><p><i class="fa fa-home" aria-hidden="true"></i>Home</p></a>
        <a id="a3" href="magazine.html"><p><i class="fa fa-book" aria-hidden="true"></i>The Magazine</p></a>
        <a id="a33" href="#"><p>More<i class="fa fa-angle-double-down" aria-hidden="true"></i></p></a>
        <a id="a4" href="#"><p><i id="topsearch" class="fa fa-search" aria-hidden="true"></i>Search</p></a>
        @if (!Request.IsAuthenticated)
        {<p id="a5"><a href="@Url.Action("Login", "Account")">Log in</a><br /><a href="@Url.Action("Register", "Account")">Register</a></p>}
        <i id="a6" class="fa fa-search" aria-hidden="true"></i>
    </div>
    @using (Html.BeginForm("Index", "Articles", FormMethod.Get, new { id = "searchform" }))
    {
        <div id="search">
            <input type="text" name="search" />
            <input id="hiddensubmit" type="submit" value="Search" />
        </div>
    }
    <div id="more">
        <a id="m1" href="about.html"><p>About Us</p></a>
        <a id="m2" href="contact.html"><p>Contact</p></a>
        <a id="m3" href="press.html"><p>Press</p></a>
    </div>

    @Html.Partial("_LoginPartial")

    @if (Request.IsAuthenticated && User.IsInRole("Admin") || Request.IsAuthenticated && User.IsInRole("Creator"))
    {
        <p id="createnewarticle">
            @Html.ActionLink("New article", "Create", "Articles")
            @Html.ActionLink("Show/edit articles", "Index", "Articles")
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit homepage", "Edit/1", "HomeEdits")
            }
        </p>
    }

    @RenderBody()

    @RenderSection("scripts", required: false)

    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
    <script src="@Url.Content("~/Content/script.js")"></script>
</body>
</html>
